* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: justify;
    margin: 5px;
    padding: 10px;
    padding-left: 300px;
    position: relative;
    max-width: 1000px;
}

h1 {
    padding-top: 70px;
}

.cat {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.ancre {
    position: relative;
    font-size: 10px;
    background:  rgba(11, 153, 6, 0.952);
    padding: 10px 20px;
    text-decoration: none;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.ancre:hover {
    letter-spacing: 6px;
    cursor: pointer;
}

.italic {
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}